@import url('./common.css');


@media (min-width:320px) and (max-width:767px) {

    main {
        width: 90%;
        margin: 170px auto 40px;

        .topbtn {
            position: fixed;
            right: 5%;
            bottom: 5%;
            z-index: 1;

            img {
                width: 100%;
            }
        }

        .search {
            width: 80%;
            margin: 0 auto 80px;

            p {
                position: relative;
                padding: 5px 10px;
                border: 3px solid #004032;
                border-radius: 40px;

                input {
                    width: 80%;
                    margin-left: 15px;
                    padding: 5px;
                    border: none;
                    outline: none;
                    font-size: 1.2em;
                }

                img {
                    width: 100%;
                    position: absolute;
                    right: 8%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .qna {
            width: 100%;
            margin: 40px auto 60px;

            .h5 {
                width: 100%;
                padding-bottom: 10px;
            }

            .box01 {
                ul {
                    li {
                        width: 100%;
                        padding: 10px;
                        border-top: 1px solid #eee;
                        border-bottom: 1px solid #eee;

                        .container {
                            width: 100%;
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .question {
                                width: 80%;
                                font-size: 1em;

                                span:nth-of-type(1) {}

                                span:nth-of-type(2) {}
                            }

                            .plus {
                                width: 10%;
                                height: 30px;
                                span{
                                    width: 15px;
                                }
                                span:nth-of-type(1) {
                                    width: 100%;
                                    border-bottom: 2px solid #262626;
                                }

                                span:nth-of-type(2) {}
                            }
                        }

                        .answer {
                            width: 100%;
                            padding: 15px 10px;
                            background-color: #F4F1DE;
                            font-size: 0.8em;
                            display: none;
                        }
                    }
                }
            }

            .pagenum {
                width: 100%;
                margin: 20px auto;
                text-align: center;

                button {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background: none;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    text-align: center;
                    position: relative;

                    img {
                        width: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .play {
            width: 100%;
            margin: 0 auto;
            overflow: hidden;

            .h5 {
                margin-bottom: 10px;
            }

            .video {
                li {
                    iframe {
                        width: 100%;
                    }
                }
            }
        }
    }










}