@charset "utf-8";

/* Do Hyeon font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Pretendard font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; */


html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: middle;
}

.h1 {
    font-size: 3em;
    font-family: 'Do Hyeon', sans-serif;
}

.h2 {
    font-size: 2.5em;
    font-family: 'Do Hyeon', sans-serif;
}

.h3 {
    font-size: 2em;
    font-family: 'Do Hyeon', sans-serif;
}

.h5 {
    font-size: 1.5em;
    font-family: 'Do Hyeon', sans-serif;
}

.split {
    font-size: 12px;
}



@media (max-width:767px) {
    header {
        width: 100%;
        /* height: 130px; */
        background-color: #004032;
        position:fixed;
        top:0; left:0;
        z-index: 100;
    }

    header>.all {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }


    header>.all>.top {
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        align-items: center;
    }

    header>.all>.top>.logo {
        width: 50%;
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        align-items: center;
    }

    header>.all>.top>.logo>a {
        width: 30%;
    }

    header>.all>.top>.logo>a>img {
        width: 100%;
    }

    header>.all>.top>.logo>p {
        font-family: 'Do Hyeon', sans-serif;
        width: 65%;
        height: 50px;
        /* border:1px solid white; */
        font-size: 1.8em;
        color: white;
        text-align: center;
        margin: auto;
        /* font-weight:bold; */
    }

    header>.all>.top>.burger {
        width: 10%;
        height: 1.8em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header>.all>.top>.burger>span {
        width: 80%;
        margin: 0 auto;
        height: 4px;
        background-color: white;
    }

    .popup {
        display: none;
        transition: 0.5s;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 102;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .popup.active {
        display: block;
        opacity: 100%;
    }

    .popup>.pop_bg {
        width: 80%;
        height: 100%;
        background-color: white;
        margin-left: 20%;
        padding: 20px;
        transform: translateX(100%);
    }

    .left {
        animation: left 0.5s forwards ease-in-out;
    }

    @keyframes left {
        100% {
            transform: translateX(0);
        }
    }

    .popup>.pop_bg>.popuptop {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .popup>.pop_bg>.popuptop>.left {
        width: 70%;
    }

    .popup>.pop_bg>.popuptop>.left>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;

    }

    .popup>.pop_bg>.popuptop>.left img {
        width: 25%;
    }

    .popup>.pop_bg>.popuptop>.left p {
        width: 70%;
        padding-bottom: 10px;
        color: #004032;
        font-size: 2em;
    }

    .popup>.pop_bg>.popuptop>.right {
        margin-top: 20px;
        width: 30%;
        position: relative;
        /* 엑스버튼 */
    }

    .popup>.pop_bg>.popuptop>.right>span:nth-of-type(1) {
        width: 30px;
        border-top: 2px solid black;
        transform: rotate(45deg);
        position: absolute;
        top: 10%;
        left: 60%;
        z-index: 12;
    }

    .popup>.pop_bg>.popuptop>.right>span:nth-of-type(2) {
        width: 30px;
        border-top: 2px solid black;
        transform: rotate(-45deg);
        position: absolute;
        top: 10%;
        left: 60%;
        z-index: 12;
    }

    .search {
        width: 90%;
        margin: 10px auto 20px;
    }


    .search p {
        position: relative;
        padding: 3px 10px;
        border: 3px solid #004032;
        border-radius: 40px;
        background-color: antiquewhite;
    }

    .search p input {
        width: 80%;
        margin-left: 15px;
        padding: 5px;
        border: none;
        outline: none;
        font-size: 1.2em;
        background-color: antiquewhite;
    }

    .search p img {
        width: 100%;
        position: absolute;
        right: 8%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }


    .menu {
        margin: 10px auto 20px;
        width: 100%;
        padding: 0px;
    }

    .menu>li {
        width: 100%;
        margin: 5px auto 0;
        padding: 5px 0;
    }

    .menu>li>a {
        display: inline-block;
        width: 100%;
        font-size: 1.5em;
        font-weight: lighter;
        color: white;
        padding: 5px 20px;
        background-color: #004032;
    }

    .menu>li>div {
        background-color: antiquewhite;
    }

    .menu>li>div>ul {
        width: 80%;
        margin: 0 auto;
        padding: 5px 0;
    }

    .menu>li>div>ul>li {
        width: 100%;
        margin: 5px 0;
    }

    .menu>li>div>ul>li>a {
        color: black;
        padding: 5px 0px;
        font-size: 0.9em;
    }

    .Q {
        width: 90%;
        margin: 0 auto;
        letter-spacing: -0.8px;
    }

    .Q>p {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .Q>.one {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .Q>.one>p {
        font-size: 0.8em;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .Q>.two {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .Q>.two>p {
        font-size: 0.8em;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .Q>.two>a {
        color: black;
        font-size: 0.8em;
        width: 70%;

    }


    .Q .tit {
        font-size: 0.9em;
        margin-bottom: 10px;
        width: 100%;
    }

    .Q a {
        margin-top: 10px;
        text-decoration: underline;
        display: inline;
    }




    footer {
        width: 100%;
        background-color: #CDCDCD;
    }

    footer>.footer {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0 30px;
        text-align: center;
    }

    footer>.footer>ul {
        padding-top: 10px;
        width: 100%
    }

    footer>.footer>ul>li {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    footer>.footer>ul>li>a {
        color: black;
        font-size: 0.8em;
    }

    footer>.footer>p {
        margin-top: 10px;
        color: black;
        font-size: 0.7em;
    }
}