@charset "utf-8";

/* Do Hyeon font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Pretendard font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; */


html,
body {
    margin: 0;
}

h1,h2,h3,h4,h5,p,figure {
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


*{
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
    vertical-align: middle;
}