@import url("./common.css");
@media (max-width: 767px) {
  main {
    overflow: hidden;
    width: 100%;
    margin: 70px auto 40px;
  }
  main .section01 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  main .section01 > .title {
    font-family: "Do Hyeon", sans-serif;
    font-size: 2em;
    color: #004032;
    font-weight: bold;
  }
  main .section01 > .board {
    margin: 30px auto 0;
    height: 200px;
    border: 1px solid #cdcdcd;
    border-radius: 30px;
  }
  main .section01 > .board > .list {
    width: 95%;
    margin: 0 auto;
    height: 100%;
  }
  main .section01 > .board > .list > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: center;
    align-content: center;
    padding: 10px 0;
  }
  main .section01 > .board > .list > ul > li {
    border-radius: 15px;
    width: 19%;
    padding: 10px 5px;
    margin-top: 2%;
    background-color: #cdcdcd;
  }
  main .section01 > .board > .list > ul > li > a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .section01 > .board > .list > ul > li > a > img {
    width: 60%;
    margin: 0 auto;
  }
  main .section01 > .board > .list > ul > li > a > p {
    font-size: 0.8em;
    color: black;
  }
  main .section01 > .board > .list > ul > li:nth-of-type(9) > a > p {
    padding-top: 5px;
    font-size: 0.7em;
    white-space: pre-line;
    line-height: 0.7em;
  }
  main .section01 > .board > .list > ul > li:nth-of-type(10) > a > p {
    padding-top: 5px;
    font-size: 0.7em;
    white-space: pre-line;
    line-height: 0.7em;
  }
  main .section02 {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    margin: 80px auto 0;
    text-align: center;
    border-radius: 30px;
    background-color: #FFDD78;
  }
  main .section02 .box_01 {
    position: relative;
  }
  main .section02 .box_01 > p:nth-of-type(1) {
    margin-top: 20px;
    font-family: "Do Hyeon", sans-serif;
    color: #26439E;
    font-weight: bold;
  }
  main .section02 .box_01 > .todayWord {
    margin-top: 40px;
    text-align: center;
    position: relative;
  }
  main .section02 .box_01 > .todayWord > span > b {
    color: #004032;
    font-size: 1.8em;
    font-family: "Do Hyeon", sans-serif;
  }
  main .section02 .box_01 > .todayWord > img {
    width: 45%;
    display: block;
    z-index: 10;
    position: absolute;
    left: 48%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  main .section02 .box_01 .wordEx {
    margin-top: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 0.9em;
  }
  main .section03 {
    width: 90%;
    margin: 80px auto 0;
    text-align: center;
  }
  main .section03 > p {
    font-family: "Do Hyeon", sans-serif;
    font-size: 2em;
    color: #004032;
    font-weight: bold;
  }
  main > .section04 {
    width: 90%;
    margin: 80px auto 0;
    text-align: center;
  }
  main > .section04 > .banboard {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  main > .section04 > .banboard > .slide {
    width: 100%;
  }
  main > .section04 > .banboard > .slide > a {
    width: 100%;
  }
  main > .section04 > .banboard > .slide > a > img {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */