@import url("./common.css");
@media (max-width: 768px) {
  main {
    width: 90%;
    margin: 40px auto 50px;
  }
  main .search {
    width: 80%;
    margin: 0 auto 20px;
  }
  main .search p {
    position: relative;
    padding: 5px 10px;
    border: 3px solid #004032;
    border-radius: 40px;
  }
  main .search p input {
    width: 80%;
    margin-left: 15px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 1.2em;
  }
  main .search p img {
    width: 100%;
    position: absolute;
    right: 8%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  main > .relative {
    width: 70%;
    margin: 0px auto 0;
  }
  main > .relative .three {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main > .relative .three > li {
    display: inline;
    background-color: rgba(0, 64, 50, 0.7);
  }
  main > .relative .three > li > a {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
  }
  main > .relative .three > li > a:active {
    color: white;
  }
  main > .result {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .result > .up {
    text-align: center;
    width: 90%;
    margin: 0 auto 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main > .result > .up > .res_tit {
    font-size: 1em;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    vertical-align: baseline;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main > .result > .up > .res_tit > .leng {
    color: rbga(0, 0, 0, 0.7);
    font-size: 0.7em;
    margin-left: 10px;
  }
  main > .result > .up > a {
    color: black;
    font-size: 0.8em;
  }
  main > .result > ul {
    width: 90%;
    margin: 0 auto;
  }
  main > .result > ul > li {
    margin: 0 auto 20px;
    width: 100%;
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    vertical-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main > .result > ul > li > .qna {
    padding: 10px;
    width: 100%;
  }
  main > .result > ul > li > .qna > .q {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
  main > .result > ul > li > .qna > .q > .Q {
    padding-top: 2px;
    font-size: 1em;
    color: black;
  }
  main > .result > ul > li > .qna > .q > span {
    font-size: 1.3em;
  }
  main > .result > ul > li > .qna > .answer {
    width: 100%;
    margin: 0 0 15px;
    background-color: #F4F1DE;
  }
  main > .result > ul > li > .qna > .answer > .A {
    padding: 15px 10px;
    font-size: 0.8em;
    word-wrap: wrap;
  }
}
/*# sourceMappingURL=search.css.map */